<mat-toolbar>Halloween Contest</mat-toolbar>
<div class="grid">
	<mat-grid-list cols="8">
		<mat-grid-tile colspan="2"rowspan='2'>
			<mat-card class="card">
				<mat-card-content>
					<mat-list dense style="overflow-y: scroll; max-height: 20em;">
						<mat-list-item *ngFor="let contestant of contestants">
							<span>{{contestant.costume}}</span>
							<button mat-button [matMenuTriggerFor]="menu">Vote</button>
							<mat-menu #menu="matMenu">
								<button *ngFor="let category of categories" mat-menu-item (click)="addVotes(contestant,category)">{{category}}</button>
							</mat-menu>
						</mat-list-item>
					</mat-list>
				</mat-card-content>
			</mat-card>
		</mat-grid-tile>
		<mat-grid-tile colspan="6" >
			<mat-card class="card" *ngFor="let category of categories" style="min-height: 10em;">
				<mat-card-title>{{category}}</mat-card-title>
				<mat-card-subtitle>
					<ul dense *ngIf="results">
						<li *ngFor="let contestant of winners[category]">
							<span *ngIf="winners[category].length ===1">Winner </span>
							<span *ngIf="winners[category].length >=2">Tied </span>
							<span> {{ '   -   ' + contestant.key}}</span>
						</li>
					</ul>
				</mat-card-subtitle>
				<mat-card-content>
					<mat-list dense *ngIf="results">
						<mat-list-item *ngFor="let name of results[category][0]">
							{{name.key}} - {{name.value}} Votes
						</mat-list-item>
					</mat-list>
				</mat-card-content>
			</mat-card>
		</mat-grid-tile>
		<!-- <mat-grid-tile colspan="3">
			<mat-card class="card" *ngFor="let category of categories">
				<mat-card-title>{{category}}</mat-card-title>
				<mat-card-subtitle>Winner</mat-card-subtitle>
				<mat-card-content>
					<mat-list dense  *ngIf="winners">
						<mat-list-item *ngFor="let contestant of winners[category]">
							{{contestant.key}} - {{contestant.value}} Votes
						</mat-list-item>
					</mat-list>
				</mat-card-content>
			</mat-card>
		</mat-grid-tile> -->
	</mat-grid-list>
</div>
