body {
  font-family: Roboto, sans-serif;
  /* background-color:black; */
  background-image: url('https://i.ytimg.com/vi/kk9V3ZVNlyU/maxresdefault.jpg');
  background-size: cover;
}

.grid {
  background-color: rgba(0, 0, 0, 0.123)
}

.card {
  flex: 1;
  margin: 1em;
  /*width: 350px;*/
  box-sizing: border-box;
}

.mat-card {
  background-color: rgba(214, 14, 14, 0.52) !important;
  color: rgba(255, 165, 0, 0.88) !important;
}

.mat-list {}

.mat-list-item {
  color: white !important;
  /* font-size:1.4em!important; */
}
